:root {
    --color: #00ffff;
}

nav .brand-logo{
    font-size: 17px;
    padding-left: 10px;
}

nav .sidenav-trigger i{
    height: 56px;
    line-height: 56px;
    padding-left: 10px;
}

.flashes h4{
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.profile-body {
    overflow-x: hidden;
    padding-top: 90px;
    border: 0px 100px;
    margin: 0 0px;
}

.profile-header {
    float: left;
    width: 100%;
    display: flex;
    height: 190px;
    position: relative;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
}

.profile-img {
    float: left;
    width: 340px;
    height: 200px;
}

.profile-img img{
    border-radius: 50%;
    height: 230px;
    width: 230px;
    border: 0px 5px 10px rgba(0,0,0,0.2);
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 5;
    background: #ffffff;
}

.profile-nav-info {
    float: left;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;

}

.profile-nav-info h3 {
    font-variant: small-caps;
    font-size: 2rem;
    font-weight: bold;
}

.profile-nav-info .address {
    display: flex;
    font-weight: bold;
    color: #777;
}

.profile-nav-info .address p {
    margin-right: 5px;
}

.profile-option {
    width: 40px;
    height: 40px;
    background: var(--color);
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    outline: none;
}

.profile-option .notification i {
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s ease-in-out;
}

.profile-option:hover {
    background: #fff;
    border: 1px solid var(--color);

}

.profile-option:hover .notification i {
    color: var(--color);
}

.profile-option .notification .alert-message {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    color: var(--color);
    border: 1px solid;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-weight: bold;
}

.main-bd {
    width: 100%;
    display: flex;
    padding-right: 15px;
}

.profile-side {
    width: 300px;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    padding: 90px 30px 20px;
    margin-left: 10px;
    z-index: 99;
}

.profile-side p {
    margin-bottom: 5px;
    color: rgb(24, 23, 23);
    font-size: 14px;

}

.profile-side p i {
    color: black;
    margin-right: 10px;
}

mobile-number i {
    transform: rotateY(180deg);
}

.profile-button {
    display: flex;
}

.user-bio h3 {
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
    letter-spacing: 1px;
    color: black;
}

button.chatbtn,
button.createbtn {
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.856);
    font-size: 1rem;
    margin: 5px 2px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: background .3s ease-in-out;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.3);
    color: #fff;
}

button.chatbtn:hover,
button.createbtn:hover {
    background: var(--color);
}

button.chatbtn i,
button.createbtn i {
    margin-right: 5px;
}

.user-rating {
    display: flex;
}

.user-rating h3 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-right: 5px;
    letter-spacing: 1px;
    color: #666;
}

.user-rating .no-user {
    font-size: .9rem;
}

.rate {
    padding-top: 6px;
}

.rate i {
    font-size: .9rem;
    color: var(--color)
}

.nav {
    width: 100%;
    z-index: -1;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 40px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.nav ul li {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: all.2s ease-in-out;
}

.nav ul li.active,
.nav ul li:hover {
    box-shadow: 0px -3px 0px rgba(288, 0, 70, 0.9) inset;
}










