nav .brand-logo{
    font-size: 17px;
    padding-left: 10px;
}

nav .sidenav-trigger i{
    height: 56px;
    line-height: 56px;
    padding-left: 10px;
}

.flashes h4{
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

