{% extends "base.html" %}
{% block content %}

    <h3 class="black-text text-darken-4 center-align">All Recipe !</h3>

    <ul class="collapsible">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header white-text #212121 grey darken-4">
                <i class="fas fa-caret-down"></i>
                <strong>{{ task.category_name }}</strong> : <strong>{{ task.recipe_name }}</strong>
            </div>

            <div class="collapsible-body">
                <p>{{ task.type_of_food }}</p>
                <p>{{ task.recipe_description }}</p>
                <p>{{ task.recipe_ingredient }}</p>
                <p>{{ task.recipe_directions }}</p>
                <p><em>by: {{ task.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}